body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  overflow-x: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
